@charset "UTF-8";

html {
    height: 100%;
}

body {
    height: 100%;
    background: rgb(24, 181, 205);
    background: linear-gradient(90deg, rgba(24, 181, 205, 1) 37%, rgba(255, 253, 0, 1) 100%);
}
